body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    padding: 20px;
}

h1 {
    text-align: center;
}

h3{
  text-align: center;
}
.form-container {
    background: white;
    padding: 15px;
    border-radius: 6px;
    width: 350px;
    margin: auto;
}

.form-container input,
.form-container textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
}

#eventcategory{
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}

button {
    padding: 8px 12px;
    cursor: pointer;
}

#eventContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 30px;
    justify-content: center;
}

.event-card {
    background: white;
    padding: 15px;
    width: 250px;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.event-card.highlight {
    background: #e0f7fa;
}

.event-card button {
    margin-right: 5px;
}

